out/
.local/
build/
workdir/
ota/
ota-focal/
images/
keys/
/ramdisk-overlay/scripts/halium
/release/
/odin-focal/
/sideload-focal/
/diagnostics/
/images-hwc2-experimental/
/sideload-hwc2-experimental/
*.log
*.py[cod]
__pycache__/
